@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200..800&display=swap");
* {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
}
header {
  color: white;
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
h1 {
  font-family: "Kaushan Script", cursive;
  border-bottom: 1px solid white;
  padding: 0.3rem 0;
  width: 100%;
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  width: 100%;
}
ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
ul li a:hover {
  color: grey;
}
main {
  padding: 2rem 6rem;
}

/* Styling of the card */
a.card {
  display: flex;
  text-decoration: none;
  color: whitesmoke;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 260px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.199);
  cursor: pointer;
  border: 0.3px solid rgba(255, 255, 255, 0.683);
  border-radius: 5px;
  transition: all 0.2s;
}
.card:hover {
  transform: scale(1.1);
}
h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
}
.card .genre {
  align-self: flex-start;
  font-size: 0.8rem;
}
.card .artist,
.card .album {
  font-size: 0.8rem;
  color: rgba(245, 245, 245, 0.767);
  text-align: center;
}
.card .info {
  align-self: flex-start;
  color: rgba(245, 245, 245, 0.463);
  font-size: 0.6rem;
}
